node_modules
dist
build
.env
.env.local
.env.*.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.tsbuildinfo
next
out
coverage
.vite
cache
.parcel-cache
.eslintcache
.turbo
.prisma
.vercel
server/data/*.json
!server/data/.gitkeep
